.pagination {
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.pagination a {
    padding: 10px 20px 10px 20px;
    background-color: #008fe1;
    color: #ffffff;
    margin: 0;
    border-left: 1px solid #ffffff;
}

.pagination .active {
    background: #1d7ceb;
    color: #ffffff;
}

.pagination a:hover {
    text-decoration: none;
    background-color: #1d7ceb;
    color: #ffffff;
}

.pagination strong {
    padding: 10px 20px 10px 20px;
    background-color: #008fe1;
    color: #ffffff;
    margin: 0;
}